################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ioco.Infrastructure.FileShare/.vs/Ioco.Infrastructure.FileShare/DesignTimeBuild
/Ioco.Infrastructure.FileShare/Ioco.Infrastructure.FileShare/obj
/Ioco.Infrastructure.Email/.vs/Ioco.Infrastructure.Email/v17
/Ioco.Infrastructure.Email/Ioco.Infrastructure.Email/bin/Debug
/Ioco.Infrastructure.Email/Ioco.Infrastructure.Email/obj
/Ioco.Infrastructure.Email/Ioco.Infrastructure.Email.Tests/bin/Debug/net6.0
/Ioco.Infrastructure.Email/Ioco.Infrastructure.Email.Tests/obj
/Ioco.Infrastructure.Cache/.vs/Ioco.Infrastructure.Cache/v17
/Ioco.Infrastructure.Cache/Ioco.Infrastructure.Cache/obj
/Ioco.Infrastructure.Email/.vs/Ioco.Infrastructure.Email/DesignTimeBuild
/Ioco.Infrastructure.Logging/.vs/Ioco.Infrastructure.Logging/v17
/Ioco.Infrastructure.Logging/Ioco.Infrastructure.Logging/bin/Debug
/Ioco.Infrastructure.Logging/Ioco.Infrastructure.Logging/obj
/Ioco.Infrastructure.Crypto/.vs/Ioco.Infrastructure.Crypto/v17
/Ioco.Infrastructure.Crypto/Ioco.Infrastructure.Crypto/obj
